body{
	font-family: "proxima-nova-soft",sans-serif;
}

li:first-child {
 font-style: italic;
 font-size: 3rem;
}
li:last-child {
 font-weight: bold;
 font-size: 3rem;
}


.ng-touched{
	color: tomato;
}


/*
tomato

modified or invalid = BRIGHT RED

indeianred*/