<!DOCTYPE html>
<html ng-app>
<head>
	<title> model-test.html </title>
	<!-- angular cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<!-- external css -->
	<link rel="stylesheet" type="text/css" href="/css/modelTest.css">
</head>
<body>


<form>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" ng-model="user.firstName">
    <h3>{{ user.firstName }}</h3>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name"  ng-model="user.lastName">
    <h3>{{user.lastName}}</h3>


    <label for="email">eMail</label>
    <input type="email" id="email" ng-model="user.email">
    <h3>{{user.email}}</h3>


    <label for="date"> Date </label>
    <input type="date" id="date" ng-model="user.date">
    <h3>{{user.date}}</h3>


    <label for="githubUrl"> GitHubURL </label>
	<input type="url" id="url" ng-model="user.githubUrl">
	<h3>{{user.githubUrl}}</h3>




	<form action="action_page.php">
	 	<input list="browsers" name="browser">
			<datalist id="browsers">
	    		<option value=""><img src="/img/plushMonkey.ico" alt="monkey">  </option>
	    		<option value="Firefox">
	    		<option value="Chrome">
	    		<option value="Opera">
	    		<option value="Safari">
	  		</datalist>
	  	<input type="submit">
	</form>


	<script>
		
	</script>
</body>
</html>